body {
    font-family: sans-serif;
    margin: 100px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #00008B;
    font-family: times new roman;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    color: #18a500;
    font-family: times new roman;
}

.container3 {
    max-width: 800px;
    margin: 0 auto;
    color: #FF4500;
    font-family: times new roman;
}

.container4 {
    max-width: 800px;
    margin: 0 auto;
    color: #30CDBD;
    font-family: times new roman;
}